
/development/actionScript/obj/OldParrTomaConfig.old
/development/actionScript/obj/OldParrTomaConfig.xml
/desing/psd/carnaval-facebook_vallenato.psd
/desing/psd/Imagen final compartir.psd
/desing/temporales
documents/.DS_Store
