html, body, #containerA, #containerB 
{
	height:100%;
}
body 
{
	background-color: #1B161C;
	margin:0;
	min-height: 800px;
	padding:0;
	text-align: center;
}
#facebookConnection
{
	background-image: url(../assets/images/home.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0 auto;
	height: 862px;
	width: 1420px;
}
#imageItem
{
	cursor: pointer;
	left: 350px;
	top: 256px;
	position: relative;
	
}
